<div *ngIf="contacto">

  <!-- Nombre del contacto -->
  <h5>{{ contacto.nombre }} {{ contacto.apellidos }}</h5>

  <!-- Redes Sociales -->
  <hr>
  <button
    class="social"
    *ngIf="contacto.facebook"
    (click)="notificarNavegacionFacebook()">
    <i class="fa fa-facebook-square" aria-hidden="true"></i>
  </button>
  <button
    class="social"
    *ngIf="contacto.twitter"
    (click)="notificarNavegacionTwitter()">
    <i class="fa fa-twitter-square" aria-hidden="true"></i>
  </button>

  <!-- Datos de contacto -->
  <hr>
  <!--
    Para usar un Pipe indicamos el signo del pipe ('|') seguido del nombre
    del Pipe a usar. El dato que sufre la transformación es el que antecede al
    signo ('|'). Si el Pipe tiene otros parámetros, se indican tras su nombre y
    separados por dos puntos (':'). Por ejemplo: dato | pipe :param1 :param2
  -->
  <div>
    {{ contacto | datosContacto }}
  </div>

  <!-- Botón eliminar -->
  <!-- La suscripción a eventos se hace poniendo entre paréntesis el nombre del mismo. -->
  <button
    class="u-full-width eliminar"
    (click)="notificarEliminacionContacto()">
    <i class="fa fa-trash" aria-hidden="true"></i>
    Eliminar
  </button>
</div>
