:host>div {
  text-align: center;
}

.social {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 48px;
}

.social:hover {
  color: #1EAEDB;
}

.eliminar {
  margin-top: 20px;
  margin-bottom: 20px;
}
